body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

bkg {
    width: 1728px;
    height: 319px;
    flex-shrink: 0;
    background-color: darkgrey;
}

    bkg.text {
        color: darkblue;
        text-align: center;
        /* Tipo_Mobile/H4 */
        font-family: Lato;
        font-size: 23.44px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.472px; /* 130% */
        letter-spacing: 0.938px;
    }