@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Deixe um Mestre facilitar sua ascenção!</h1>
    <p><a href="https://api.whatsapp.com/send?phone=5514988172620&text=Quero%20contratar%20EloJob%20em%20um%20site%20lindo!" class="btn btn-primary btn-lg">Conversar com um Mestre Job &raquo;</a></p>
</div>

<div class="bkg">
    <h1>teste</h1>
</div>